.root{
    background-color: #e8edf2;
    color: #0D4479;
    height: 100vH;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input input::placeholder {
    color: #313e43;
}

.input input {
    background-color: #f4f6f9;
    border-color: #313e43 !important;
}

.input input:focus-within {
    border-color: #1D9EAF !important;
}